*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
}
main{
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 100px;
  overflow: hidden;
}
picture, picture img{
  width: 300px;
  object-fit: contain;
}
.content-div{
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(0, 0%, 100%);
  gap: 10px;
  padding-left: 30px;
}
h4{
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 16px;
}
h1{
  font-family: 'Fraunces', serif;
  width: 80%;
}
p:first-of-type{
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  width:80%
}
.price{
  display: flex;
  align-items: center;
}
h2{
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  margin-right: 20px;
  font-size: 32px;
}
.price p{
  text-decoration: line-through;
  font-size: 13px;
}
button{
  width:80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: hsl(158, 36%, 37%);
  border: 0;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
}
button:hover{
  cursor: pointer;
}
button:hover, button:focus{
  background-color: hsl(158, 37%, 17%);
}

@media screen and (max-width:630px) {
  main{
    width: 100vw;
    height: 100%;
    margin: 10px;
    gap: 0;
  }
  picture, picture img, .content-div{
    width: 100%;
  }
}
